body {
	background-image: url("https://i.imgur.com/e8bMcGx.jpg");
}

#page1 
h1 {
	text-align:center;
	color: white;
}
h3 {
	color: white;
}
br{
	color: white;
}

#page2 

table {
	border: 2px solid #dddddd;
}

td{
	border: 1px solid gray;

}

