{{template "base" .}}

{{define "title"}}Chat{{end}}
	
	{{define "main"}}
	    <div style = "position:relative; left:20px; top:2px;">
	      <h1>Trade Wars</h1>
	      <p> Status Message </p>

	    	<font color = "#C0C0C0">
	    	Chat Message: <br>
	    	

	    	<input type ="text" chat="message">
	    	</div>
	    	</font>
	  	</font>
	{{end}}

