{{template "base" .}}

{{define "title"}}Navigation{{end}}

  {{define "main"}}
    //<form>
      //<input class="chatButton" type="button" value="Chat" onclick="window.location.href='chat.html'" />
    //</form> 

  <table class="map">
    <tr>
      <td>  SpaceShip </td>
      <td> <a href="#" id="someLink">link</a> </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>

    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
  </table>
  

  <table class="sidebar">
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
  </table>
{{end}}