
    <font color = "#C0C0C0">
      <h1 style="text-align:center;">Welcome to Trade Wars!</h1>
      <form style="text-align:center">
        <fieldset>
          <legend><b> Login </b></legend>
            User name:<br>
    </font>
          <input type ="text" name="username">
        </fieldset>
          <br>
        <button>Submit</button>
    </form>