{{template "base" .}}

{{define "title"}}Trade{{end}}

	{{define "main"}}
  <form>
      <input class="chatButton" type="button" value="Map" onclick="window.location.href='/map'" />
      <input class="tradeButton" type="button" value="Chat" onclick="window.location.href='/chat'" />
    </form> 
  <table class="map">
    <tr>
      <td> 7 Nugs <img src="https://cdn2.iconfinder.com/data/icons/fast-food-8/128/Fast_Food-22-512.png" height=50 width=60 align:center></img></td>
      <td> 2 Gal. H2O <img src="https://cdn2.iconfinder.com/data/icons/sports-and-games-3-3/48/119-512.png" height=50 width=60 align:center></img> </td>
	</tr>
    <tr>
      <td text-align:center> 9 Space rocks <img src="https://icon-library.net/images/rock-icon-png/rock-icon-png-13.jpg" height=50 width=60 align:center></img> </td>
      <td>   </td>
	</tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
    </tr>
      <tr>
      <td>   </td>
      <td>   </td>
    </tr>
  </table>
	<table class="theirGoods">
	    <tr>
	      <td> Chicken Nuggets </td>
	      <td> 7  </td>
	    </tr>
	    <tr>
	      <td>  Water </td>
	      <td> 2 Gallons  </td>
	    </tr>
	    <tr>
	      <td> Space Rocks </td>
	      <td> 9  </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	</table>

{{end}}
