{{template "base" .}}

	{{define "title"}}Home{{end}}

  		{{define "main"}}

	      <table class="myGoods">
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	  </table>

	    <table class="theirGoods">
	    <tr>
	      <td> Chicken Nuggets  </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	    <tr>
	      <td>   </td>
	      <td>   </td>
	    </tr>
	  </table>

	{{end}}
